:root {
  --primary: #7b2ff7;
  --secondary: #c15ac8;
  --glass: rgba(255,255,255,0.1);
  --text: #ffffff;
  --bg: linear-gradient(135deg,#7b2ff7,#c15ac8);
}

body.light {
  --text: #111;
  --glass: rgba(255,255,255,0.6);
  --bg: linear-gradient(135deg,#c471f5,#fa71cd);
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
  scroll-behavior:smooth;
}

body{
  background:var(--bg);
  color:var(--text);
  transition:0.4s ease;
}

section{
  padding:60px 20px;
}

.section-title{
  text-align:center;
  margin-bottom:30px;
  font-size:28px;
}

.glass{
  background:var(--glass);
  backdrop-filter:blur(20px);
  padding:25px;
  border-radius:20px;
  max-width: 1200px;   
  margin: 0 auto; 
}

footer {
  text-align: center;
  padding: 25px 20px;
  font-size: 15px;
  background: rgba(0,0,0,0.15);
  backdrop-filter: blur(10px);
  margin-top: 60px;
}
