.project-card{
  padding:20px;
  border-radius:15px;
  background:var(--glass);
  transition:0.4s;
}

.project-card:hover{
  transform:translateY(-10px);
  box-shadow:0 20px 40px rgba(0,0,0,0.3);
}

.progress{
  height:10px;
  background:rgba(255,255,255,0.2);
  border-radius:20px;
  overflow:hidden;
}

.progress-bar{
  height:100%;
  width:0%;
  background:white;
  transition:1.5s ease;
}

#form-message{
  margin-top:10px;
  text-align:center;
}


button {
  padding: 14px;
  border: none;
  border-radius: 12px;
  background: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
  width: 100%;
}

button:hover {
  transform: translateY(-3px);
  background-color: rgb(77, 212, 77);
}
